{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
<link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}


<br />
<div class="shadow p-3 mb-5 bg-body rounded">
    <h2>{{ post.title }}</h2>
    <br />
    By: {{ post.poster.name }}
    <br />
    <small>{{ post.date_posted }}</small>
    <hr><br />
    {{ post.content | safe }}
    <br />

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-2">
                {% if post.poster.profile_pic %}
                <img src="{{ url_for("static", filename="images/" + post.poster.profile_pic)}}" class="rounded mx-auto d-block" width="185" height="123" align="left" />
                {% else %}
                <img src="{{ url_for("static", filename="images/default_profile_photo.jpg")}}" width="125" align="left" />
                {% endif %}
            </div>

            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ post.poster.name }}
                    </h5>
                    <p class="card-text">
                        {% if post.poster.about_author %}
                        {{ post.poster.about_author }}
                        {% else %}
                        Author has no profile yet...
                        {% endif %}
                        <br /><br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ url_for("posts") }}" class="btn btn-outline-secondary btn-sm">Back</a>
    {% if post.poster_id == current_user.id or current_user.id == 14 %}
    <a href="{{ url_for("edit", id=post.id) }}" class="btn btn-outline-secondary btn-sm">Edit Post</a>

    {% endif %}
    <a href="{{ url_for("delete_post", id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a>
</div>
<br />


{% endblock %}